@model IEnumerable<ProductManagement.ViewModels.ProductViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

   
@foreach (var item in Model) {
<tr>
    <div>
        <div style="width: 200px; float: left">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <br />
            <br />
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </div>

        <div>
            <td>
                @Html.DisplayFor(modelItem => item.NumberInStock)
            </td>
        </div>
    </div>
    
    <br />
    <br />
    @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
</tr>
}

